<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="zimmetdbEntities" connectionString="metadata=res://*/zimmetdb.csdl|res://*/zimmetdb.ssdl|res://*/zimmetdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NIRVANA\;initial catalog=zimmetdb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>